img {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	max-width: 100%;
}

h2 {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	font-weight: bold;
	font-style: normal;
	color: #036;
	font-size: 125%;
}

#tribute-info p {
	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	display: block;
}

a {
	font-weight: bold;
	font-size: 119%;
	margin-top: 20px;
	color: #036;
}

a:visited {
	color: #006ec6;
	border-bottom: 1px solid #a8bfcf;
	padding-bottom: 0;
}

h1 {
	margin: 0;
	padding: 5px 5px 0;
	font-size: 200%;
	font-weight: bold;
	font-style: normal;
	color: #025a9a;
	width: auto;
	position: static;
	text-align: center;
	height: auto;
}

#subtitle {
	text-align: center;
}